<ion-view view-title="Practice" ng-click="pageClick()">
    <ion-header-bar class="main-color-bg borderless">
        <div class="buttons" >
            <a class="button button-clear" menu-close href="#/app/main" style="position: relative;color:#b8ae96  ">
                <i class="icon ion-ios-home-outline" style="font-size: 30px;"></i>
             </a>
            
            
        </div>
          
    </ion-header-bar>
    <ion-content class="main-color-bg">
        <img height="100" src="img/abc.svg" style="border: 5px solid #f2eee1;margin: 10px;padding: 20px; background-color: white; border-radius: 50px">
<img height="100" src="img/headphone.svg" style="border: 5px solid #f2eee1;margin: 10px;padding: 20px; background-color: white; border-radius: 50px">
<img height="100" src="img/microphone.svg" style="border: 5px solid #f2eee1;margin: 10px;padding: 20px; background-color: white; border-radius: 50px">

    </ion-content>
    
 

</ion-view>
