<ion-view view-title="Practice" ng-click="pageClick()" class="more-practice-page">
    <ion-header-bar class="main-color-bg borderless">
        <div class="buttons" >
            <a class="button button-clear" menu-close href="#/app/main" style="position: relative;color:#b8ae96  ">
                <i class="icon ion-ios-home-outline" style="font-size: 30px;"></i>
             </a>                        
        </div>          
    </ion-header-bar>
    <ion-content class="main-color-bg text-center main-text-color">
        <div style="padding-bottom: 15px; margin: 0px 10px 10px 10px; border-bottom:1px solid #b5ac95;">
            <p ng-repeat="n in ui.lines">{{n}}</p>
        </div>
            
            <div ng-repeat="n in ui.imgs" class="more-practice-item">
                <img src="{{'img/'+n.url}}">
                <p>{{n.title}}</p>
                <p>难度:<span ng-repeat="m in [0,1,2,3,4]">{{$index<(n.level)?"★":"☆"}}</span></p>
            </div>     
    </ion-content>
    
 

</ion-view>
