<ion-modal-view id="test-model" style="box-shadow: 2px 3px 3px gray;" on-swipe-left='modalSwipeLeft()' on-swipe-right='modalSwipeRight()'>
    <ion-footer-bar class="main-color-bg" style=" height: 60px">
        <button class="button button-outline" ng-click="kan()" style="width: 30%; height: 45px; margin:auto 5%;">砍</button>
        <button class="button button-outline" ng-click="closeLogin()"  style="width: 50%; height: 45px; margin: auto 5%">继续答题</button>
    </ion-footer-bar>
    <ion-content class="main-color-bg padding" style="padding-left: 20px; padding-right: 20px">
        <h3 ng-click="playWord()"><span id="title" >{{curAnswer.word}}</span><span style="font-size: 20px; font-weight: normal; vertical-align: bottom; " class="main-text-color"><i class="icon ion-ios-close-empty assertive" style="margin-right: 5px; margin-left: 10px"></i>1</span></h3>
        <p ng-click="playWord()"><span  id="yinbiao" > {{data[curAnswer.id][9]}}</span></p>
        <p >{{data[curAnswer.id][3]}}</p>
        <img height="150"   src="http://baicizhan2.qiniucdn.com{{data[curAnswer.id][6]}}">
        <div class="card padding" >
            <div  style="background-color: transparent; padding-left: 40px;" >
                <i id="sound-btn" ng-click="playSound()" class="icon ion-ios-play-outline" style="color:white;background-color:#d1c5b6;border-radius: 3px; position: absolute;left: 12px; ; padding:5px 10px; margin-right: 20px"></i>
                <p>{{data[curAnswer.id][4]}}</p>
                <p>{{data[curAnswer.id][5]}}</p>
                <div style="width: calc(100%); height: 1px; background-color: #b5ac95; margin-top: 10px;"></div>            
            </div>

            <div ng-if="data[curAnswer.id][13].length > 0" style="background-color: transparent; padding-left: 40px; margin-top: 15px;" >
                <i class="icon " style="font-size: smaller;color:white;background-color:#d1c5b6;border-radius: 3px; position: absolute;left: 12px; ; padding:2px 3px; margin-right: 20px">象形</i>

                <img style="max-width: 80%;" src="http://baicizhan2.qiniucdn.com{{data[curAnswer.id][13]}}">

                <div style="width: calc(100%); height: 1px; background-color: #b5ac95;margin-top: 10px;"></div>            
            </div>
            <div ng-if="data[curAnswer.id][12].length > 0" style="background-color: transparent; padding-left: 40px; margin-top: 15px" >
                <i class="icon " style="font-size: smaller;color:white;background-color:#d1c5b6;border-radius: 3px; position: absolute;left: 12px; ; padding:2px 3px; margin-right: 20px">记忆</i>

                <p>{{data[curAnswer.id][12]}}
                </p>
                <div style="width: calc(100%); height: 1px; background-color: #b5ac95;margin-top: 10px;"></div>            
            </div>

            <div  ng-if="data[curAnswer.id][11].length > 0" style="background-color: transparent; padding-left: 40px; margin-top: 15px" >
                <i class="icon " style="font-size: smaller;color:white;background-color:#d1c5b6;border-radius: 3px; position: absolute;left: 12px; ; padding:2px 3px; margin-right: 20px">英译</i>

                <p>
                    <span><blue ng-click="playWord()">{{curAnswer.word}}</blue> = </span>{{data[curAnswer.id][11]}}
                </p>
                <div style="width: calc(100%); height: 1px; background-color: #b5ac95;margin-top: 10px;"></div>            
            </div>
            <div  ng-if="curAnswer.video"  style="background-color: transparent; padding-left: 40px; margin-top: 15px" >
                <i class="icon " style="font-size: smaller;color:white;background-color:#d1c5b6;border-radius: 3px; position: absolute;left: 12px; ; padding:2px 3px; margin-right: 20px">视频</i>

                <video id="myVideo" ng-click="playVideo()"  style="max-width: 400px; width: 100%;" type="video/mp4" >
                   
                        <source ng-src="{{curAnswer.videoUrl}}" autostart="false">

                </video>
                <div style="width: calc(100%); height: 1px; background-color: #b5ac95;margin-top: 10px;"></div>            
            </div>
            <div style="height: 30px">

            </div>

            <!--http://baicizhan2.qiniucdn.com/word_tv/real_harsh.mp4 -->
        </div>
        <div style="height: 60px">

        </div>


    </ion-content>
    
    <div class="notice" style='padding: 10px;position: absolute; left: 0; top: 0; width: 100%;'>已经是最后一页了</div>
</ion-modal-view>