<ion-view view-title="Playlists">
    <div class="suprfill main-color-bg" style="padding: 0">
        
        <div  style="height: 50px;  position: relative; color: #b8ae96">
            <div class="suprfill" >
                <div class="row main-dark-bg" style=" height: 100%; padding: 0;">
                    <div class="col col-33 main-color-bg" style="height: 100%; position: relative; min-width: 150px; box-shadow: 2px -2px 2px gray; border-radius: 0 5px 0 0;">
                        <div class="suprfill">
                            <div class="row" style="height: 100%; padding: 0;">
                                <div class="col col-33" style="position: relative; ">
                                    <i class="icon ion-ios-home-outline" style="font-size: 30px;position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)"></i>
                                </div>
                                <div class="col col-66" style="position: relative; ">
                                    <div style=";position: absolute; font-size: smaller;left: 10%; top: 50%; transform: translate(0, -50%)">
                                        需学习25<br>学复习2
                                    </div>
                                 
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                        
                    </div>
                    <div class="col col-66" style="position: relative; height: 50px; padding: 0px 10px;">
                        <div style="font-size: larger;  line-height: 50px; white-space: nowrap;
                             width:98%; text-overflow: ellipsis; overflow-x: hidden">
                            <i class="hide icon ion-checkmark btn-blue-color" style="margin: 0 10px; "></i>
                            <span style="margin: 0 10px;border:1px solid #b8ae96;padding: 2px 3px; border-radius: 2px ">斩</span>
                            qimin is a good man  qimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good manqimin is a good man
                        
                        </div>
                    </div>
                </div>
             </div>
         </div>
            
        
        
        
        <div style="height:calc(50% - 55px)">
        </div>
         <div style="height:calc(50% - 55px);">
            <div class="row text-center" style="height: 50%; max-width:   800px; margin: 0 auto">
                <div class="col img-btn" style=" margin:0 2px; background-image: url(http://baicizhan2.qiniucdn.com{{data[0][6]}}); background-repeat: no-repeat; background-size: cover;">
                    
                </div>
                <div class="col img-btn" style=" margin:0 2px; background-image: url(http://baicizhan2.qiniucdn.com{{data[1][6]}}); background-repeat: no-repeat; background-size: cover;">
                    
                </div>
               
            </div>
            <div class="row text-center" style="height: 50%; max-width:   800px;margin: 0 auto">
                <div class="col img-btn" style=" margin:0 2px; background-image: url(http://baicizhan2.qiniucdn.com{{data[2][6]}}); background-repeat: no-repeat; background-size: cover;">
                    
                </div>
               
                <div class="col img-btn" style=" margin:0 2px; background-image: url(http://baicizhan2.qiniucdn.com{{data[3][6]}}); background-repeat: no-repeat; background-size: cover;">
                    
                </div>
               
            </div>
            
        </div>
       
        <div class="row" style="height: 60px;max-width:800px; margin: 0 auto">
            <div class="col col-25 tab-btn text-center">
                <div style="margin:0 10px; width: calc(100% - 20px); padding: 10px 0px; border: 1px solid #b5ac95; color: #b5ac95; border-radius: 2px">
                    砍
                </div>
            </div>
            <div class="col tab-btn text-center">
                <div style="margin:0 10px; width: calc(100% - 20px); padding: 10px 0px; border: 1px solid #b5ac95;color: #b5ac95;border-radius: 2px">
                    提示
                </div>
            </div>
            <div class="col col-25 tab-btn text-center">
                <div style="margin:0 10px; width: calc(100% - 20px); padding: 10px 0px; border: 1px solid #b5ac95;color: #b5ac95;border-radius: 2px">
                    <i class="icon ion-ios-play"></i>
                </div>
            </div>
        </div>
    </div>
</ion-view>
