/* Empty. Add your own CSS if you like */
.suprfill
{
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%
}

.notice,.dictDiv
{
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    transform: translateY(-100%);
    color: white;
}

.notice.ng-enter,.dictDiv.ng-enter
{
    transform: translateY(0%);
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms;
}

.notice.ng-leave,.dictDiv.ng-leave
{
    transition: all ease-in-out 100ms;
}





.zhan-right
{
    border: 1px solid #6ad2bd !important;
    color: white;
    background-color: #6ad2bd!important;
    
}

.zhan-wrong
{
    
    border: 1px solid #ED7A86 !important;
    color: white;
    background-color: #ED7A86!important;
}

.main-color
{
    color: #e9e4d9;
}
.main-color-bg
{
    background-color: #e9e4d9;
}

.main-dark-bg
{
    background-color: #dad5cb;
}

.card-color
{
    color:#f8f6f1;
}
.card-color-bg
{
    background-color: #f8f6f1;
}

.btn-blue-bg
{
    background-color: #7daddb;
}
.btn-blue-color
{
    color: #7daddb;
}
.main-text-color
{
    color:#b5ac95;
}

.img-btn
{
    border-radius: 5px;
    border: 2px solid #dad5cb;
}

.tab-btn
{
    
}



#option-btn.block
{
    background-color: #dad5cb;
    background-position: 10000px 10000px;
}

#option-word 
{
    color: #909090;
    font-size: 1.2em; 
    position: absolute; 
    bottom: 0%; 
    left: 50%; 
    width: 100%; 
    transform: translate(-50%,0%)
}

#option-hint
{
    transform: translate(0%,200%);
    opacity: 0;
}

#option-hint.hint1
{
    opacity: 1;
    transform: translate(0%,0%);
    animation-name: middle-up;
    animation-duration: 0.1s;
}

#option-hint.hint2
{
    opacity: 1;
    transform: translate(0%,0%);
    animation-name: middle-up;
    animation-duration: 0.1s;
}

#option-hint.hint3
{
    opacity: 1;
    transform: translate(0%,0%);
    animation-name: middle-up;
    animation-duration: 0.1s;
}

@keyframes middle-move {
    from {bottom:0%;transform: translate(-50%,0%);}
    to {bottom:15%;transform: translate(-50%,0%)}
}

@keyframes middle-up {
    0% {transform: translate(0%,200%);}
    50% {transform: translate(0%,100%);}
    100% {transform: translate(0,0%)}
}
#option-word.middle
{
    color: #909090;
    font-size: 1.2em; 
    position: absolute; 
    bottom: 15%; 
    left: 50%; 
    width: 100%; 
    transform: translate(-50%,0%);
    animation-name: middle-move;
    animation-duration: 0.1s;
}



.borderless
{
    border: 0px solid transparent!important;
}



.playBtn:active
{
    background-color: #b5ac95;
    color: white !important;
}

#option-word .blue, blue, .blue
{
    color: #7daddb;
    font-weight: bold;
}

#option-word span:active, blue:active, .blue:active,ion-modal-view #yinbiao:active,ion-modal-view #title:active
{
    background-color: darkgray;
    color: white;
}



#test-model.h3
{
    color:  #4b566a;
}
#test-model p
{
    color: #7d8493;
}

#test-model .card
{
    background-color: #f7f2e4;
    border-color: #b5ac95
    
    
}

#test-model .card p
{
    color: #909090;
}


#sound-btn:active
{
    opacity: 0.5;
}

.slide-in-left {
  -webkit-transform: translate3d(100%, 0%, 0);
  transform: translate3d(100%, 0%, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 125ms;
  transition: all ease-in-out 125ms; }

.slide-in-right {
  -webkit-transform: translate3d(-100%, 0%, 0);
  transform: translate3d(-100%, 0%, 0); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 125ms;
  transition: all ease-in-out 125ms; }

.slide-in-left-half {
  -webkit-transform: translate3d(50%, 0%, 0);
  transform: translate3d(50%, 0%, 0); }

.slide-in-left-half.ng-enter, .slide-in-left-half > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 200ms; }

.slide-in-left-half.ng-enter-active, .slide-in-left-half > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left-half.ng-leave, .slide-in-left-half > .ng-leave {
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms; }


.more-practice-item
{
    margin: 10px 30px; display: inline-block  ;  
}

.more-practice-item:active
{
    margin: 10px 30px; display: inline-block; 
    opacity: 0.5;
}

.more-practice-item img
{
    border: 5px solid #f2eee1; width: 100px; display: inline-block  ;padding: 20px; background-color: white; border-radius: 50px;
}
