/* Empty. Add your own CSS if you like */
.suprfill
{
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%
}

.main-color
{
    color: #e9e4d9;
}
.main-color-bg
{
    background-color: #e9e4d9;
}

.main-dark-bg
{
    background-color: #dad5cb;
}

.card-color
{
    color:#f8f6f1;
}
.card-color-bg
{
    background-color: #f8f6f1;
}

.btn-blue-bg
{
    background-color: #7daddb;
}
.btn-blue-color
{
    color: #7daddb;
}
.main-text-color
{
    color:#b5ac95;
}

.img-btn
{
    border-radius: 5px;
    border: 2px solid #dad5cb;
}

.tab-btn
{
    
}



#option-btn.block
{
    opacity: 0;
}

#option-word 
{
    color: #909090;
    font-size: 1.2em; 
    position: absolute; 
    bottom: 0%; 
    left: 50%; 
    width: 100%; 
    transform: translate(-50%,0%)
}

@keyframes middle-move {
    from {bottom:0%;transform: translate(-50%,0%);}
    to {bottom:15%;transform: translate(-50%,0%)}
}


#option-word.middle
{
    color: #909090;
    font-size: 1.2em; 
    position: absolute; 
    bottom: 15%; 
    left: 50%; 
    width: 100%; 
    transform: translate(-50%,0%);
    animation-name: middle-move;
    animation-duration: 0.1s;
}

.borderless
{
    border: 0px solid transparent!important;
}



.playBtn:active
{
    background-color: #b5ac95;
    color: white !important;
}

#option-word .blue
{
    color: #7daddb;
    font-weight: bold;
}

#option-word span:active
{
    background-color: darkgray;
    color: white;
}